*{
    margin: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100%;
}

.StoryViews-container{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: #E1D5D5;
}

.upper-part{
    display: grid;
    grid-template-columns: 7fr 1fr 1fr ;
    padding: 15px;
}

.upper-part-division img{
    height: 30px;
    width: 30px;
}

.view-part{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.dp img{
    height: 139px;
    width: 149px;
}

.view-part-viewers{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.name{
    text-align: left;
    padding: 10px;
}